{% extends "layout.html" %}

{% block title %}
    Buy stocks
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-control" name="symbol">
                {% for stock in stocks %}
                <option value="{{ stock.symbol }}">{{ stock.symbol }}</option>
                {% endfor %}
            </select>
            <input class="form-control" name="shares" placeholder="Amount" type="number">
        </div>
        <button class="btn btn-primary" type="sell">Sell</button>
    </form>
{% endblock %}
